[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://gitcode.com/Cangjie/llvm-project.git
